header a{
    color: white !important;
}

header .navbar {
    display: block !important;
}

header .navbar > :nth-child(1), header .navbar > :nth-child(2){
    display: flex !important;
    justify-content: center;
    margin: 0;
}

.navbar .navbar-brand {
    font-size: 2em !important;
}

.navbar .nav-item a {
    font-size: 1.35em;
}

.navbar .nav-item a:hover {
    background-color: aliceblue;
    color: black !important;
    border-bottom: 4px solid salmon;
}

.content {
    padding: 20px;
    overflow: hidden;
}

.content p {
    font-size: 1.2em;
    color: grey;
}

.content .btn-group {
    white-space: nowrap;
    flex-wrap: wrap;

}

.content .btn-group button { 
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 10px;
    font-size: 1.15em;
}

.content .btn-group button:hover {
    background-color: aliceblue;
    color: black;
}

footer{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px 10px 10px;
}